<div class='row'>
	<div id='championSelectorContainer' class='col-md-8 col-md-offset-2 championSelectorContainer'>
		<div>
			<div class='championSmallWrapper' on-last-repeat ng-repeat='champion in championSelectorController.championsData | orderObjectBy: "name"'>
					<div 
						unselectable='on'
						class='championSmallPictureContainer unselectable' 
						ng-class='{selected: championSelectorController.checkSelected(champion)}' 
						ng-click='championSelectorController.selectChampion(champion)' 
						ng-style='championSelectorController.getSpriteStyle(champion)'
						data-placement='right-bottom'
						data-trigger='hover'
						data-container='body'
						data-html='true'
						data-content='<div class="championTooltipContainer"><span class="championTooltipName">{{ championSelectorController.getName(champion) }}</span></br><span class="championTooltipTitle">{{ championSelectorController.getTitle(champion) }}</span></div>'
						bs-popover>
					</div>
			</div>
		</div>
	</div>
</div>