// Place all the styles related to the api/champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.championPictureContainer{
	background-color:gray;
	display: inline-block;
	float: none;
	width: 90px;
	height: 90px;
}
.championWrapper{
	float: left;
	height: 130px;
	margin: 0px 20px 0 0;
	width: auto;
}
.championName{
	display: block;
	text-align: center;
}
img.resize{
	height: 90px;
	width: 90px;
}

.championSmallWrapper{
	// float: left;
	display: inline-block;
	height: 48px;
	margin: 5px 5px 0 0;
	width: 48px;
}
// .championSmallPictureContainer.selected{
// 	border-color: coral;
// 	border-style: solid;
// 	border-width: medium;
// }

.championComparisonWrapper{
  background-color: lightgray;
  height: 100%;
  padding: 0 0 0 0;
}

.championSmallPictureContainer{
	width: 48px;
	height: 48px;
}

.comparisonsContainer{
	height: 100%;
	overflow-x: visible;
	padding: 0 0 0 0;
	max-width: 1000px;
}

#championSelectorContainer {
	overflow: hidden;
	position: relative;
}

.championSelectorContainer{
	background-color: #333333;
	height: 60px;
	max-width: 1000px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 0 0 0 0;
}

.championComparisonRight{
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
	padding: 0 0 0 0;
	right: 0px;
	height: 100%;
}

.championComparisonForm {
	height: inherit;
}

.championComparisonsWrapper{
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
}

.championComparisonRight.ng-leave{
	-webkit-animation: 	slideOutRight 1.5s,
										 	fadeOut 1.5s;
	-moz-animation: 		slideOutRight 1.5s,
											fadeOut 1.5s;
	-o-animation:		 		slideOutRight 1.5s,
											fadeOut 1.5s;
	animation: 					slideOutRight 1.5s,
						 					fadeOut 1.5s;
						 					
}

.championComparisonRight.ng-enter{
	-webkit-animation: 	slideInRight 1.5s,
										 	fadeIn 1.5s;
	-moz-animation: 		slideInRight 1.5s,
											fadeIn 1.5s;
	-o-animation:		 		slideInRight 1.5s,
											fadeIn 1.5s;
	animation: 					slideInRight 1.5s,
						 					fadeIn 1.5s;
}

.championComparisonLeft{
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
	height: 100%;
	padding: 0;
}

.championComparisonLeft.ng-leave{
	-webkit-animation: 	slideOutLeft 1.5s,
										 	fadeOut 1.5s;
	-moz-animation: 		slideOutLeft 1.5s,
											fadeOut 1.5s;
	-o-animation:		 		slideOutLeft 1.5s,
											fadeOut 1.5s;
	animation: 					slideOutLeft 1.5s,
						 					fadeOut 1.5s;
						 					
}

.championComparisonLeft.ng-enter {
	-webkit-animation: 	slideInLeft 1.5s,
										 	fadeIn 1.5s;
	-moz-animation: 		slideInLeft 1.5s,
											fadeIn 1.5s;
	-o-animation:		 		slideInLeft 1.5s,
											fadeIn 1.5s;
	animation: 					slideInLeft 1.5s,
						 					fadeIn 1.5s;
}

.statsData {
	width: 200px;
}

#championScrollLeft {
	background-color: rgba(255,255,255, .5);
	display: inline-block;
	float: left;
	height: 48px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 23px;
	z-index: 3;
}

#championScrollLeft:hover {
	background-color: rgba(255, 255, 255, .75);
}

#championScrollRight {
	background-color: rgba(255, 255, 255, .5);
	display: inline-block;
	float: right;
	height: 48px;
	position: absolute;
	right: 0;
	top: 5px;
	width: 23px;
	z-index: 3;
}

#championScrollRight:hover {
	background-color: rgba(255, 255, 255, .75);
}

.championContainer {
	color: #FFFFFF;
}
