.graphAbilityIcon {
	height: 36px;
	width: 36px;
}

.graphAbilityName {
	display: inline-block;
}
.championChart {
	width: 100%;
}

.championChartWrapper {
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	margin: 0 0 0 0;
	height: 50%;
	width: 80%;
}