input.timeFrameSlider {
	clear: left;
	display: inline-block;
	float: left;
	height: 26px;
	width: auto;
}

.championComparisonInputLabel {
	float: left;
	font-weight: normal;
	color: red;
	display: inline-block;
	margin-bottom: 0px;
}

.championComparisonOutputText {
	color: red;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.outputColor {
	color: rgb(255, 116, 0);
}

.comparisonsWrapper {
	height: 100%;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 75%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

}
.quarterComparisonWrapper {
	display: inline-block;
	float: left;
	height: 100%;
	width: 50%;
}

.halfComparisonWrapper {
	display: block;
	width: 100%;
}

.bottomHalfComparisonWrapper {
	height: 30%;
}

.topHalfComparisonWrapper {
	height: 70%;
}

.inputsWrapper {
	display: inline-block;
	height: 100%;
	float: left;
	width: 50%;
}

input.rawCheck {
	margin: 0 auto;
	display: block;
}

.checkboxWrapper {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

.labelWrapper {
	color: red;
	float: left;
}

.checkboxLabel {
	color: red;
	font-weight: normal;
	margin: 0 auto;
	display: block;
}

.clear {
	clear: both;
}

.formInitialMargin {
	margin-top: 10px;
}

.outputsWrapper {
	width: 100%;
}