// Place all the styles related to the api/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.itemPictureContainer {
	display: block;
	margin: auto;
	background-color: gray;
	width: 64px;
	height: 64px;
}

.itemWrapper{
	float: left;
	height: 120px;
	margin: 10px 0 0 0;
	width: 100px;
}

.itemSelectorContainer{
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: visible;
	height:212px;
	max-width: 1000px;
}

.itemPictureContainer:hover {
	outline-style: solid;
	outline-color: coral;
	outline-width: medium;
}

.itemName{
	display: block;
	text-align: center;
}


.itemTooltipName {
	font-weight: bold;
}

.itemSmallWrapper{
	float: left;
	height: 48px;
	margin: 5px 5px 0 0;
	width: 48px;
}

.itemSmallPictureContainer{
	display: inline-block;
	float: none;
	width: 48px;
	height: 48px;
}

.itemSelectorContainer{
	height: 160px;
	overflow-y: scroll;
}

.comparisonItemWrapper{
	clear: both;
	margin-top: 20px;
	height: 96px;
	float: right;
	width: 144px;
	box-sizing: content-box;

}

.itemPic0{
	float: left;
	display: inline-block;
	height: 48px;
	width: 48px;
}
.itemPic1{
	float: left;
	display: inline-block;
	height: 48px;
	width: 48px;
}
.itemPic2{
	float: left;
	display: inline-block;
	height: 48px;
	width: 48px;
}
.itemPic3{
	float: left;
	clear: both;
	display: inline-block;
	height: 48px;
	width: 48px;
}
.itemPic4{
	float: left;
	display: inline-block;
	height: 48px;
	width: 48px;
}
.itemPic5{
	float: left;
	display: inline-block;
	height: 48px;
	width: 48px;
}
.itemPlaceholder{
	background-image: url("https://s3-us-west-1.amazonaws.com/lolcomparitor/Images/item/0.png");
	background-size: 48px 48px;
}

.itemSelectorWrapper {
	max-width: 1000px;
	margin: 0 auto;
	box-sizing: content-box;
}

