// Place all the styles related to the api/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.itemPictureContainer {
	display: block;
	margin: auto;
	background-color: gray;
	width: 64px;
	height: 64px;
}

.itemWrapper{
	float: left;
	height: 120px;
	margin: 10px 0 0 0;
	width: 100px;
}

.itemSelectorContainer{
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: visible;
	height:212px;
}

.itemPictureContainer:hover {
	outline-style: solid;
	outline-color: coral;
	outline-width: medium;
}

.itemName{
	display: block;
	text-align: center;
}


.itemTooltipName {
	font-weight: bold;
}
