<div class='row'>
	<div class='col-md-8 col-md-offset-2 picturesContainer' >
		<div class='championWrapper'
			ng-repeat='champion in championsController.championsData'>
			<a ui-sref='appStart.champions.selected({key: championsController.getName(champion)})' class='championLink'>
				<div class='championPictureContainer'
				data-placement='right-bottom'
				data-trigger='hover'
				data-container='body'
				data-html='true'
				data-content='<div class="championTooltipContainer"><span class="championTooltipName">{{ championsController.getName(champion) }}</span></br><span class="championTooltipTitle">{{ championsController.getTitle(champion) }}</span></br></br><span class="championTooltipBlurb">{{ championsController.getBlurb(champion) }}</span></div>'
				bs-popover>
					<img ng-src='{{ ::championsController.getImage(champion) }}'>
					</img>
				</div>
				<span class='championName'>{{ championsController.getName(champion) }}</span>
			</a>
		</div>
	</div>
</div>