<div class='row'>
	<div class='col-md-8 col-md-offset-2 picturesContainer' >
		<div ng-If='championsController.getCurrentChampion()' class='championInfoContainer'>
			<img ng-src='{{ championsController.getCurrentChampionImage() }}'>
			</img>
			<div class='championContainer'>
				<div class='championNameContainer' ng-bind="championsController.getName(championsController.getCurrentChampion())">
				</div>
				<div class='championResourceContainer' ng-bind="championsController.getResourceType(championsController.getCurrentChampion())">
				</div>
				<div class='championTitleContainer' ng-bind="championsController.getTitle(championsController.getCurrentChampion())">
				</div>
				<div class='championRolesContainer'>
					<div class='championRole' ng-repeat='role in championsController.getRoles(championsController.getCurrentChampion())' ng-bind='role'>
					</div>
				</div>
				<div class='championStatsContainer' ng-bind-html="championsController.getStats(championsController.getCurrentChampion())">
				</div>

				<div class='championAbilityContainer' ng-repeat="ability in championsController.getAbilities(championsController.getCurrentChampion())">
					<div class='championAbilityImageContainer'>
						<img class='championAbilityImage' ng-src='{{ ability.image.full }}'></img>
					</div>
					<div class='championSanitizedTooltipContainer'>
						<p class='championSanitizedTooltip' ng-bind="ability.cleanSanitizedTooltip">
						</p>
					</div>
				</div> 
				<div class='championLoreContainer' ng-bind-html="championsController.getLore(championsController.getCurrentChampion())">
				</div>
			</div>
		</div>
		<div class='notFound' ng-bind-html="'<span>Oh NO!! We did not find your champion in our database!</span>'" ng-if='!championsController.getCurrentChampion()'>

		</div>
	</div>
</div>