<!-- <div style='height: 300px;'>
</div> -->
<div ui-view='navbar'>
	<span>placeholder navbar for index</span>
</div>

<div ui-view>
	<div>
		Hello and welcome to the champion DPS calculator!
	</div>
</div>

<div ui-view='footer'>
	placeholder footer for index
</div>